{% extends 'base.html' %}

{% load static %}

{% block header %}
    <meta charset="UTF-8">
    <title>Organization Recommendation Engine</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
{% endblock %}

{% block content %}
    <body>
        <h1 class="page-title" style="margin-block-end: 0.5em;">Your recommended organizations: </h1>
        <div class="org-directory">
        {% for i in range_top %}
            <div class="org-column org-{{i}}">
            {% with 'media/medals_'|add:i|add:'.png' as medal_static %}
                <img class="medal" src="{% static medal_static %}" alt="medal">
            {%  endwith %}
                <a href="{{ links.i }}" target="_top">
                    <div class="org">
                        <h3 class="org-title"> {{names.i }} </h3>
                        <div class="description">
                            {{ descriptions.i }}
                        </div>
                    </div>
                </a>
            </div>
        {%endfor%}
        </div>

        <h4 class="page-subtitle">
            Other Organizations to consider:
        </h4>
        <div class="org-other">
        {% for i in range_bottom %}
            <a href="{{ links.i }}" target="_top"><h5 class="org-other-title">  {{ names.i }} </h5></a>
        {%endfor%}
        </div>

        <div class="btn">
            <a href="/"><button class="btn-submit">Make a new search</button></a>
        </div>
    </body>
{% endblock %}
